In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Nikolskoye,RU,2022-05-11 02:35:53,59.7035,30.7861,47.88,71,73,6.06
1,1,Bredasdorp,ZA,2022-05-11 02:35:54,-34.5322,20.0403,59.99,67,97,13.04
2,2,Komsomolskiy,UZ,2022-05-11 02:35:54,40.4272,71.7189,66.92,68,50,4.61
3,3,Tuktoyaktuk,CA,2022-05-11 02:35:54,69.4541,-133.0374,30.20,86,100,8.05
4,4,Qaanaaq,GL,2022-05-11 02:35:55,77.4840,-69.3632,10.33,73,0,7.31
...,...,...,...,...,...,...,...,...,...,...
561,561,Oriximina,BR,2022-05-11 02:52:22,-1.7656,-55.8661,74.21,94,99,3.47
562,562,Dombarovskiy,RU,2022-05-11 02:52:22,50.7587,59.5386,47.93,78,92,18.70
563,563,Progreso,MX,2022-05-11 02:52:23,21.2833,-89.6667,83.10,83,0,17.94
564,564,Matveyevka,RU,2022-05-11 02:52:23,52.1500,56.1833,41.68,89,100,18.16
565,565,Eyl,SO,2022-05-11 02:52:24,7.9803,49.8164,82.54,78,100,6.98

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [23]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Hilo,US,2022-05-11 02:31:03,19.7297,-155.0900,79.29,75,40,12.66
8,8,Lincoln,US,2022-05-11 02:35:56,40.8000,-96.6670,75.25,65,0,8.05
14,14,Georgetown,MY,2022-05-11 02:32:28,5.4112,100.3354,82.33,78,40,5.01
24,24,Butaritari,KI,2022-05-11 02:36:04,3.0707,172.7902,81.45,72,15,14.14
25,25,Grand Gaube,MU,2022-05-11 02:36:04,-20.0064,57.6608,75.38,80,41,1.01
30,30,Koutiala,ML,2022-05-11 02:36:07,12.3917,-5.4642,85.44,36,35,5.97
31,31,Rikitea,PF,2022-05-11 02:32:30,-23.1203,-134.9692,77.07,69,19,15.57
32,32,Kavieng,PG,2022-05-11 02:36:08,-2.5744,150.7967,85.24,69,100,14.05
38,38,Vaini,TO,2022-05-11 02:36:10,-21.2000,-175.2000,80.76,65,20,5.75
40,40,Leo,BF,2022-05-11 02:36:11,11.1000,-2.1000,82.53,61,25,6.06

In [24]:
preferred_cities_df.count()

City_ID       164
City          164
Country       164
Date          164
Lat           164
Lng           164
Max Temp      164
Humidity      164
Cloudiness    164
Wind Speed    164
dtype: int64

In [25]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df

            City Country  Max Temp      Lat       Lng Hotel Name
5           Hilo      US     79.29  19.7297 -155.0900
8        Lincoln      US     75.25  40.8000  -96.6670
14    Georgetown      MY     82.33   5.4112  100.3354
24    Butaritari      KI     81.45   3.0707  172.7902
25   Grand Gaube      MU     75.38 -20.0064   57.6608
..           ...     ...       ...      ...       ...        ...
553     Kirakira      SB     84.27 -10.4544  161.9205
556    Gorontalo      ID     81.19   0.5412  123.0595
559       Tenabo      MX     84.20  20.0500  -90.2333
563     Progreso      MX     83.10  21.2833  -89.6667
565          Eyl      SO     82.54   7.9803   49.8164

[164 rows x 6 columns]

In [26]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type" : "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels['results'][0]['name']
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [27]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
5,Hilo,US,79.29,19.7297,-155.0900,Hilo Hawaiian Hotel
8,Lincoln,US,75.25,40.8000,-96.6670,Courtyard by Marriott Lincoln Downtown/Haymarket
14,Georgetown,MY,82.33,5.4112,100.3354,Cititel Penang
24,Butaritari,KI,81.45,3.0707,172.7902,Isles Sunset Lodge
25,Grand Gaube,MU,75.38,-20.0064,57.6608,Veranda Paul et Virginie Hotel & Spa
...,...,...,...,...,...,...
553,Kirakira,SB,84.27,-10.4544,161.9205,SanBiz Lodge
556,Gorontalo,ID,81.19,0.5412,123.0595,Maqna Hotel by Prasanthi
559,Tenabo,MX,84.20,20.0500,-90.2333,Hotel Mangrove King Fishing
563,Progreso,MX,83.10,21.2833,-89.6667,Playa Linda Hotel
565,Eyl,SO,82.54,7.9803,49.8164,Amiin Hotel

In [28]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))